head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    meta(name='google-site-verification', content='A-u8rFKOS1V5b4UqTTwG73-naPGP6UaumbUyMLRMF-A')
    meta(name='author', content='Michael Zuercher')
    meta(name='description', content='IT Experte und Programmer')
    meta(name='keywords', content='IT Programming Coder Java Vaadin Fullstack')
    meta(name="msapplication-TileColor", content="#da532c")
    meta(name="theme-color", content="#ffffff")
    title Michael Zürcher
    link(rel="apple-touch-icon", sizes="180x180", href="img/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon-16x16.png")
    link(rel="manifest", href="img/site.webmanifest")
    link(rel="mask-icon", href="img/safari-pinned-tab.svg", color="#5bbad5")
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css')
