+card-third("Anouman","Beispielcode Java 10","16. July 2019", "img/Anouman.jpg")
  p 
    | Anouman
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Java 10
      li Vaadin 12
      li Spring-Boot
      flex.flex-col.items-start.content-start.justify-start
        +button
          Java 12
          i.pl-2.fas.fa-code
        +button
          Maven
          i.pl-2.fas.fa-code
        +button
          Spring Boot
          i.pl-2.fas.fa-code
        +button
          Vaadin
          i.pl-2.fas.fa-code

