+card-third("Support","Support","16. July 2019","img/support.jpg")
  p
    | Online-Support von Endusern &uuml;ber Teamviewer.
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Microsoft Office
      li Windows, Linux, Mac
      li PC-Peripherie, Drucker, etc.
      li PC-Hardware Reparatur
      li RAID-Controller
      li Windows Server, Exchange-Server
    +skilllevel
      .bar.front.expert(data-skill='Microsoft Office')
      .bar.front.expert(data-skill='Windows Server')
      .bar.front.expert(data-skill='Linux Server')
      .bar.back.advanced(data-skill='PC-Hardware')
