+card-half("Programmierung Backend","Java, Spring-Boot, Datenbanken","16. July 2019","img/programming.jpg")
  p
    | REST-Interfaces
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Java 12
      li Maven
  +skilllevel
    .bar.front.expert(data-skill='Vaadin')
    .bar.back.advanced(data-skill='CSS 3')
    .bar.back.advanced(data-skill='Javascript ES7')
    .bar.back.advanced(data-skill='Webpack')
    .bar.back.advanced(data-skill='PostCSS')
    .bar.back.advanced(data-skill='Bulma')
    .bar.back.advanced(data-skill='Tailwind CSS')

