footer.bg-orange-200
  .container
    .w-full.flex.p-10
        .shadow-lg.bg-white.text-base.p-3.rounded
            .flex-shrink-0
                img.h-12.w-12(src="img/button.svg")
                .ml-6.pt-1
                    include:markdown-it markdown/postadresse.md
        .flex.flex-col.w-full.mx-auto

            ul.list-reset.flex.justify-end.flex-1.items-center
            li
                a.inline-block.py-2.px-3.text-white.no-underline(href='#') Active
            li
                a.inline-block.text-grey-dark.no-underline.py-2.px-3(class='hover:text-grey-lighter hover:text-underline', href='#') link
            li
                a.inline-block.text-grey-dark.no-underline.py-2.px-3(class='hover:text-grey-lighter hover:text-underline', href='#') link
            li
                a.inline-block.text-grey-dark.no-underline.py-2.px-3(class='hover:text-grey-lighter hover:text-underline', href='#') link
