+card-half("Programmierung Frontend","Webdesign, CSS3, Javascript, Vue, Vaadin","16. July 2019","img/programming.jpg")
  p 
    | Unterhalt und Wartung moderner Netzwerkumgebungen.
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Switches
      li Router
      li VPN
      li Firewalls
      li Loadbalancer
      li NAS
  +skilllevel
    .bar.front.expert(data-skill='Vaadin')
    .bar.back.advanced(data-skill='CSS 3')
    .bar.back.advanced(data-skill='Javascript ES7')
    .bar.back.advanced(data-skill='Webpack')
    .bar.back.advanced(data-skill='PostCSS')    
    .bar.back.advanced(data-skill='Bulma')    
    .bar.back.advanced(data-skill='Tailwind CSS')    
