+card-full("FullTest","Playground for Flexbox","20. July 2019", "img/network.jpg")
  p 
    | Playground
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Switches
      li Router
      li VPN
      li Firewalls
      li Loadbalancer
      li NAS

    .form
      vaadin-text-field#firstName(label='First Name')  
      vaadin-text-field#lastName(label='Last Name')  
      vaadin-button#addButton  Add 
    vaadin-grid#grid
      vaadin-grid-column(path='firstName', header='First name')
      vaadin-grid-column(path='lastName', header='Last name')

    .flex.inline-flex
      +button
        | First
        i.pl-2.fab.fa-java
      +button
        | Second
        i.pl-2.fas.fa-code
      +button
        | Third
        i.pl-2(src='img/icon-spring-boot.svg')
      +button
        | Fourth
        i.pl-2.fas.fa-code
      +button
        | Fith
        i.pl-2.fas.fa-code
      +button
        | Sixt
        i.pl-2.fas.fa-code
      +button
        | Seventh
        i.pl-2.fas.fa-code
      +button
        | Eight
        i.pl-2.fas.fa-code
