section#gallery
    .container
        .bg-paper.text-center.py-4(class='lg:px-4')
          .mt-4.p-6.bg-orange-500.items-center.text-white.leading-none.flex.shadow-lg.text-4xl(class='lg:rounded-full lg:inline-flex')
            h1 Image gallery
            i.pl-2.far.fa-images
        #owl.owl-carousel.owl-theme
            .item
                img(src='img/gallery/Portrait1-cut.jpg', alt='Portrait1')
            .item
                img(src='img/gallery/Portrait2-cut.jpg', alt='Portrait2')
            .item
                img(src='img/gallery/Portrait3-cut.jpg', alt='Portrait3')
            .item
                img(src='img/gallery/Car1-cut.jpg', alt='Car1')
            .item
                img(src='img/gallery/Car2-cut.jpg', alt='Car2')
            .item
                img(src='img/gallery/Car3-cut.jpg', alt='Car3')
            .item
                img(src='img/gallery/Wolf-cut.jpg', alt='Wolf')
