.container
  #owl.owl-carousel.owl-theme
    .item
      img(src='img/gallery/Portrait1-cut.jpg', alt='Portrait1')
    .item
      img(src='img/gallery/Portrait2-cut.jpg', alt='Portrait2')
    .item
      img(src='img/gallery/Portrait3-cut.jpg', alt='Portrait3')
    .item
      img(src='img/gallery/Car1-cut.jpg', alt='Car1')
    .item
      img(src='img/gallery/Car2-cut.jpg', alt='Car2')
    .item
      img(src='img/gallery/Car3-cut.jpg', alt='Car3')
    .item
      img(src='img/gallery/Wolf-cut.jpg', alt='Wolf')
