+card-third("Internet","Hosting, Websites, CMS, Email","16. July 2019", "img/internet.jpg")
  p 
    | Betreiben von Websites (CMS, Joomla, Wordpress) und Email-Servern.
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Webhosting
      li Joomla
      li Wordpress
      li SMTP, IMAP, POP
      li SSL/TLS Lets&apos; encrypt
  +skilllevel
    .bar.front.expert(data-skill='Joomla')
    .bar.back.advanced(data-skill='Wordpress')
    .bar.back.advanced(data-skill='Email')
    .bar.back.intermediate(data-skill='SSL/TLS')
