+card("Internet","Hosting, Websites, CMS, Email","16. July 2019", "img/internet.jpg")
    p Ich bin Content für network
        ul.text-gray-800.list-disc.font-serif.text-base.px-8.mb-5.list-inside
            li Webhosting
            li Joomla
            li Wordpress
            li SMTP, IMAP, POP
            li SSL/TLS Lets&apos; encrypt
    p.text-lg.text-gray-600
        | Skill level
        .bar.front.expert(data-skill='Joomla')
        .bar.back.advanced(data-skill='Wordpress')
        .bar.back.advanced(data-skill='Email')
        .bar.back.intermediate(data-skill='SSL/TLS')
