+card-third("LocateIPAddress","Codebeispiel Java 10","16. July 2019", "img/LocateIPAddress.jpg")
  p 
    | LocateIPAddress
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Java 10
      li Vaadin 12
      li Spring-Boot