nav.flex.items-center.justify-between.flex-wrap.bg-orange-400.p-6
  .flex.items-center.flex-shrink-0.text-white.mr-6
    img.h-8.w-8(src="img/button.svg")
    span.pl-2.text-xl.tracking-tight Michael Zürcher
  .block(class='lg:hidden')
    button.flex.items-center.px-3.py-2.border.rounded.text-teal-200.border-teal-400(class='hover:text-white hover:border-white')
      svg.fill-current.h-3.w-3(viewbox='0 0 20 20', xmlns='http://www.w3.org/2000/svg')
        title Menu
        path(d='M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z')
  .w-full.block.flex-grow(class='lg:flex lg:items-center lg:w-auto')
    .text-lg(class='lg:flex-grow')
      a.block.mt-4.text-gray-200.mr-4(href='#skills', class='lg:inline-block lg:mt-0 hover:text-white')
        | Skills
      a.block.mt-4.text-gray-200.mr-4(href='#programming', class='lg:inline-block lg:mt-0 hover:text-white')
        | Programmierung
      a.block.mt-4.text-gray-200.mr-4(href='#github', class='lg:inline-block lg:mt-0 hover:text-white')
        | Codebeispiele
      a.block.mt-4.text-gray-200(href='#gallery', class='lg:inline-block lg:mt-0 hover:text-white')
        | Gallery 
    //- div
    //-   a.inline-block.text-sm.px-4.py-2.leading-none.border.rounded.text-white.border-white.mt-4(href='#', class='hover:border-transparent hover:text-teal-500 hover:bg-white lg:mt-0') Download
