+card-third("Netzwerke","Installation, Administration und Fehlersuche","16. July 2019", "img/network.jpg")
  p 
    | Unterhalt
    | und Wartung moderner Netzwerkumgebungen.
    ul.text-gray-800.list-disc.font-serif.text-base.px-8.mb-5.list-inside
      li Switches
      li Router
      li VPN
      li Firewalls
      li Loadbalancer
      li NAS
  .flex.flex-col.text-sm.text-gray-600.self-end
    | Skill level
    .bar.front.expert(data-skill='Switches/Router')
    .bar.back.advanced(data-skill='Firewalls/Paketfilter')
    .bar.back.advanced(data-skill='Loadbalancer')