+card-third("Teachers Assistant",
"Codebeispiel",
"16. July 2019", 
"img/TeachersAssistant.jpg")
  p 
    | LocateIPAddress
    ul.text-gray-800.list-disc.font-serif.text-base.list-inside
      li Java 10
      li Vaadin 12
      li Spring-Boot