section#title
    .w-full.m-0.p-0.bg-cover.bg-bottom.title-bg
        .slider-content.animated.zoomIn.container.max-w-4xl.mx-auto.pt-64.text-center.break-normal(class='md:pt-64')
            .text-white.font-extrabold.text-6xl.text-shadow(class='md:text-6xl') Michael Zürcher
            .text-5xl.text-white.text-shadow(class='md:text-5xl') IT-Experte und Programmierer
