@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');
@import url("https://fonts.googleapis.com/css?family=Raleway|Roboto");


// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $purple;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

@import "./node_modules/bulma/bulma.sass";

html {
    scroll-behavior: smooth;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    background-color: #FFF8DC
}

.main_hero {
    background: #000 url("img/Background1lg-shaddow.jpg") center / cover;
}

@media only screen and (max-width: 769px) {
    .main_hero {
        background: #000 url("img/Background1md-shaddow.jpg") center / cover;
    }
}

@media only screen and (max-width: 350px) {
    .main_hero {
        background: #000 url("img/Background1sm-shaddow.jpg") center / cover;
    }
}

