mixin cardfooter(date)
    .flex-none.mt-auto.bg-white.rounded-b.rounded-t-none.overflow-hidden.shadow-lg.p-6
        .flex.items-center.justify-between
            img.w-8.h-8.rounded-full.mr-4.avatar(data-tippy-content='Author: Michael Zürcher', src='img/Avatar2018.jpg', alt='Button')
            span.text-gray-600.text-sm.font-medium Michael Z&uuml;rcher
            span.text-gray-800.text-xs.font-medium= date
