mixin card-half(title, subtitle, date, image)
  .w-full.p-6.flex.flex-col.flex-grow.flex-shrink
    .flex-1.bg-white.rounded-t.rounded-b-none.overflow-hidden.shadow-lg
      img.h-64.w-full.rounded-t.pb-6(src=image)
      .w-full.font-bold.text-xl.text-gray-900.px-6.mb-2 
        h1= title
      .w-full.text-gray-600.text-xs.font-light.px-6.mb-4(class='md:text-sm') 
        h2= subtitle
        .text-gray-800.font-serif.text-base.mt-2.mb-5.font-normal      
          block
    +cardfooter(date)


