head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="google-site-verification", content="A-u8rFKOS1V5b4UqTTwG73-naPGP6UaumbUyMLRMF-A")
    meta(name="author" content="Michael Zuercher")
    meta(name="description" content="IT Experte und Programmer")
    meta(name="keywords" content="IT Programming Coder Java Vaadin Fullstack")
    link(href='img/favicon.ico', rel='favicon', sizes='32x32')
    title Michael Zürcher
