footer.bg-orange-200
    .container.max-w-6xl.mx-auto.flex.items-center.px-2.py-8
    .w-full.mx-auto.flex.flex-wrap.items-center
        .flex.w-full.justify-center(class='md:w-1/2')
        .shadow-lg.bg-white.rounded
            .m-2.text-lg.text-gray-600.font-medium
            span.text-base.font-normal.underline Postadresse:
            br
            |                       Grenzpaket / Fitness Store
            br
            |                       Michael Z&uuml;rcher (93771)
            br
            |                       Hegaustr. 6
            br
            |                       D-78224 Singen (Hohentwiel)
        |                 
        .flex.w-full.pt-2.content-center.justify-between(class='md:w-1/2 md:justify-end')
        ul.list-reset.flex.justify-center.flex-1.items-center(class='md:flex-none')
            li.mr-2
            a.bg-red-600.text-white.py-2.px-4.rounded.inline-flex.items-center(class='hover:bg-red-500', href='#', target='_blank')
                .justify-center
                | michzuerch@gmail.com
                i.fas.fa-1x.fa-envelope &nbsp;
            |                     
            li.mr-2
            a.bg-blue-600.text-white.py-2.px-4.rounded.inline-flex.items-center(class='hover:bg-blue-400', href='#', target='_blank')
                .justify-center
                | michzuerch
                i.fab.fa-1x.fa-skype &nbsp;
            |                     
            li.mr-2
            a.inline-block.bg-green-600.text-white.py-2.px-4.rounded.inline-flex.items-center(class='hover:bg-green-500', href='#', target='_blank')
                .justify-center
                | +49 178 660 86 38
                i.fa.fa-1x.fa-phone &nbsp;
