doctype html
include includes/_head
body.bg-paper.antialiased.font-sans.leading-normal.tracking-normal
  include includes/navigation
  // Container
  .container.px-4.max-w-6xl.mx-auto.-mt-32(class='md:px-0')
    .mx-0(class='sm:mx-6')
      .w-full.text-xl.text-gray-800.leading-normal.rounded-t(class='md:text-2xl')
        include includes/polymerplayground
      include includes/footer

script(src="bundle.js")
