doctype html
body.bg-paper.antialiased.font-sans.leading-normal.tracking-normal
  // Container
  .container.w-full
    .form
      vaadin-text-field#firstName(label='First Name')
      vaadin-text-field#lastName(label='Last Name')
      vaadin-button#addButton  Add
    vaadin-grid#grid
      vaadin-grid-column(path='firstName', header='First name')
      vaadin-grid-column(path='lastName', header='Last name')
script(src="bundle.js")
