//- layout.pug
//- include mixins/image.pug
//- include mixins/icon.pug
//- include mixins/section.pug

doctype html
html(lang="de")
  include includes/_head
  body.bg-paper.antialiased.font-sans.leading-normal.tracking-normal 
    block title
  .container.px-4.max-w-6xl.mx-auto.-mt-32(class='md:px-0')
    .mx-0(class='sm:mx-6')
    block about
    block network
    block support
    block programming
    block github
    block gallery
    block footer
    script(src='https://code.jquery.com/jquery-3.4.1.min.js')
    script(src='https://cdn.jsdelivr.net/npm/jquery-mousewheel@3.1.13/jquery.mousewheel.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js')
    script(src='https://unpkg.com/popper.js@1/dist/umd/popper.min.js')
    script(src='https://unpkg.com/tippy.js@4')
    script(src="bundle.js")
