//- layout.pug
doctype html
html(lang="de")
  include _head
  body
    block about
    block network
    block support
    block programming
    block github
    block gallery
    block footer
    script(src="bundle.js")
